@import '../styles/fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/theme.css';

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: 1.875rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.4;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.4;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.4;
  }

  h4 {
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: 0.875rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: 0.875rem;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
